{%extends "base.njk"%}

{%block content%}
<div>
    <i> {{ message }} </i>
</div>

<div id="greet-island">

</div>
{%endblock%}

{%block scripts%}
<script type="module" src="{{ asset(CLIENT_ENTRIES.greetIsland) }}"></script>
{%endblock%}
